/*localization init*/

[lang] {
  display: none;
}
[lang=en] {
  display: block;
}

/*various styles*/

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, supported by Chrome, Edge, Opera and Firefox */
}

/*text styles*/

body{
  padding: 0;
  margin: 0;
  background: GhostWhite;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  color: dimgrey;
}
h3{
  color: dimgrey;
  background: inherit;
  margin: 15px;
}
p{
  text-align: left;
  line-height: 130%;
  font-size: 18px;
  margin: 15px;
}
.projects, .resume, .about_me, .contact{
  display: none;
  width: 50%;
  background: white;
  margin-bottom: 30px;
}

/*banner styles*/

.banner{
  position: relative;
  font-size: 0;
  vertical-align: middle;
}
.bannerTextContainer{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.bannerText{
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: default;
  margin-right: .25em;
}
.banner1100{
  display: none;
}
.banner .buttonContainer{
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 16px;  /*tweak space between elements*/
}
.banner .button{
  display: inline-block;
}
.bannerButtonText{
  width: 50%;
  display: inline-block;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: default;
}
.bannerButtonImage{
  height: 20px;
  width: 40%;
}
.banner .clickable img{
  vertical-align: top;
  height: inherit;
}
.banner .clickable{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  height: 32px;
  width: 136px;
  border: 4px solid rgba(255, 255, 255, .6);
  background: black;
  border-radius: 5px;
}
.banner .clickable:not(.currentButton):hover{
  border-style: outset;
  background: DimGrey;
  opacity: 1.0;
  transition: .3s ease;
}

/*signpost styles*/

.signpostContainer{
  position: sticky;
  top: 0;
  background: #16577A;
  height: 66px;
  width: 100%;
}
.signpost{
  flex-direction: row;
  align-items: center;
  background: #16577A;
}
.signpost .buttonContainer{
  display: inline-block;
  padding: 8px 4px;
  font-size: 26px;  /*tweak space between elements*/
}
.signpostButtonText{
  width: 60%;
  display: inline-block;
  color: white;
  font-size: 25px;
  font-weight: bold;
  cursor: default;
}
.signpostButtonImage{
  height: 30px;
  width: 30%;
}
.signpost .clickable img{
  vertical-align: top;
  height: inherit;
}
.signpost .clickable{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  height: 42px;
  width: 210px;
  border: 4px solid rgba(255, 255, 255, .75);
  border-radius: 10px;
}
.signpost .clickable:not(.currentButton):hover{
  border-style: outset;
  background: #0E3448;
  opacity: 1.0;
  transition: .3s ease;
}
.dropdownButton{
  display: none;
  position: absolute;
  right: 0;
  height: 100%;
  width: 66px;
  color: white;
  background-color: #0E3448;
}
.dropdownButton img{
  height: 30px;
}

/*general button styles*/

.clickable:not(.currentButton){
  opacity: 0.3;
}

/*copyright notice*/

.copyright{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  background: #363636;
}
.copyrightText{
  color: #828282;
  font-size: 10px;
  line-height: 20px;
}

/*responsive styles*/

@media only screen and (min-width: 1101px){
  /*force signpost display if the screen expands from dropdown style*/
  .signpost{
    display: inline-flex !important;
  }
}
@media only screen and (max-width: 1100px){
  .banner1920{
    display: none;
  }
  .banner1100{
    display: block;
  }
  .bannerTextContainer{
    flex-direction: column;
  }
  .bannerText{
    margin-right: 0;
  }
  .bannerText:nth-child(1){
    margin-bottom: 6px;
  }
  .banner .button:nth-child(1){
    display: block;
    margin-bottom: 4px;
  }
  .projects, .resume, .about_me, .contact{
    width: 75%;
  }
  /*change signpost to dropdown*/
  .signpost{
    display: none;
    position: absolute;
    right: 0;
    top: 66px;
    flex-direction: column;
    border-radius: 0 0 0 10px;
    border-top: 3px dashed rgba(255, 255, 255, .5);
  }
  .signpost .buttonContainer{
    padding: 8px;
    padding-top: 0;
  }
  .signpost .buttonContainer:nth-child(1){
    padding-top: 8px;
  }
  .dropdownButton{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 800px){
  .bannerText{
    font-size: 35px;
  }
  .bannerText:nth-child(1){
    margin-bottom: 2px;
  }
}
@media only screen and (max-width: 550px){
  .bannerText{
    font-size: 26px;
  }
  .bannerText:nth-child(1){
    margin-bottom: 0;
  }
  .banner .clickable{
    height: 24px;
    width: 102px;
    border-width: 3px;
  }
  .bannerButtonText{
    font-size: 15px;
  }
  .bannerButtonImage{
    height: 15px;
  }
  .projects, .resume, .about_me, .contact{
    width: 90%;
  }
}
@media only screen and (max-width: 420px){
  .bannerText{
    font-size: 18px;
  }
  .banner .clickable{
    height: 16px;
    width: 68px;
    border-width: 2px;
  }
  .bannerButtonText{
    font-size: 10px;
  }
  .bannerButtonImage{
    height: 10px;
  }
}

/*styles for mobile landscape view*/

/*make signpost smaller if it's in dropdown mode and height < 550px or if width < 550px*/
@media only screen and (max-height: 550px) and (max-width: 1100px), only screen and (max-width: 550px){
  .signpostContainer{
    height: 44px;
  }
  .signpost{
    top: 44px;
    border-top-width: 2px;
  }
  .signpostButtonText{
    font-size: 16px;
  }
  .signpostButtonImage{
    height: 20px;
  }
  .signpost .clickable{
    height: 28px;
    width: 140px;
    border-width: 3px;
  }
  .signpost .buttonContainer{
    padding: 5px;
    padding-top: 0;
  }
  .signpost .buttonContainer:nth-child(1){
    padding-top: 5px;
  }
  .dropdownButton{
    height: 100%;
    width: 44px;
  }
  .dropdownButton img{
    height: 20px;
  }
}
